*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F7F8F9;
}

.container{
    width: 400px;
    padding: 60px;
    display: flex;
    top: 0.1%;
    /* left: 35%; */
    position: absolute;
}